<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="metadataBehavior">
					<serviceMetadata httpGetEnabled="true" httpGetUrl="http://127.0.0.1:9000/TTAWindowsServicesHost/metadata" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>


		<services>
			<service behaviorConfiguration="metadataBehavior" name="TTAService.TTAService">
				<endpoint address="net.tcp://localhost:9999/TTAWindowsServicesHost" binding="netTcpBinding"  contract="TTAService.ITTAService" />
			</service>
		</services>

	</system.serviceModel>


</configuration>