<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TTAEntityContainer" connectionString="metadata=res://*/TTA_DataEntity.csdl|res://*/TTA_DataEntity.ssdl|res://*/TTA_DataEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=CNTSNWA025736\SQL2008R2;Initial Catalog=TrainingProject1_Dev_1;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>