<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TTAEntityContainer" connectionString="metadata=res://*/TTA_DataEntity.csdl|res://*/TTA_DataEntity.ssdl|res://*/TTA_DataEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=CNTSNWA025736\SQL2008R2;Initial Catalog=TrainingProject1_Dev_1;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBinding_service" closeTimeout="00:01:00"
        openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
        allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
        maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
        messageEncoding="Text" textEncoding="utf-8"
        useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://127.0.0.1:8888/TTAServiceHost/metadata" />

        </behavior>

      </serviceBehaviors>
      
    </behaviors>
    <services>
      <service behaviorConfiguration="metadataBehavior" name="TTA.Service.TTAService">
        <endpoint address="http://127.0.0.1:8888/TTAServiceHost" binding="wsHttpBinding" bindingConfiguration="wsHttpBinding_service" contract="TTA.IService.ITTAService" />
      </service>

    </services>

  </system.serviceModel>
</configuration>